.brewhousePage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, 
    rgba(0,0,0,0.4) 25%,
    rgba(0,0,0,0.8) 100%), 
    rgb(24, 66, 0);
}
.carboyBox{
  display: flex;
  justify-content: center;
  width: 40%;
  font-size: 24pt;
  padding-top: 100pt;
}
