.carousel-control.left, .carousel-control.right {
  background-image: none
}
.carousel {
  display: flex;
  justify-content: center;
  height: 475px;
  width: 325px;
}
.carboyItem {
  padding-top: 80px;
  padding-bottom: 50px;
}
.carboyImage {
  background: linear-gradient(to right, 
    rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.2) 10%,
    rgba(0,0,0,0.1) 15%,
    rgba(0,0,0,0) 50%,
    rgba(0,0,0,0.1) 85%,
    rgba(0,0,0,0.2) 90%,
    rgba(0,0,0,0.3) 100%);
}
.caption {
  padding-bottom: 0px;
}

