.container{
  top: 0px;
}
.content{
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
input{
  width: 50%;
}
#info1 {
  background-color: white;
}
#info2 {
  background-color: white;
  visibility: hidden;
}
#new1 {
  background-color: white;
  visibility: hidden;
}
#new2 {
  background-color: white;
  visibility: hidden;
}
#new2-5 {
  background-color: white;
  visibility: hidden;
}
#new3 {
  background-color: white;
  visibility: hidden;
}
#new4 {
  background-color: white;
  visibility: hidden;
}
#new4-5 {
  background-color: white;
  visibility: hidden;
}
#new5 {
  background-color: white;
  visibility: hidden;
}
#kettleSize {
  width: 10%;
}


