.container{
  top: 0px;
}
.content{
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
input{
  width: 50%;
}
#info1 {
  background-color: white;
  z-index: 11;
}
#info2 {
  background-color: white;
  z-index: 10;
  visibility: hidden;
}
#new1 {
  background-color: white;
  z-index: 9;
  visibility: hidden;
}
#new2 {
  background-color: white;
  z-index: 8;
  visibility: hidden;
}
#new2-5 {
  background-color: white;
  z-index: 8;
  opacity: 0;
  visibility: hidden;
}
#new3 {
  background-color: white;
  z-index: 7;
  visibility: hidden;
}
#kettleSize {
  width: 10%;
}


