.container{
  top: 0px;
}
.content{
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.content.offScreen {
  transition: .5s;
  left: -50%;
}
input{
  width: 50%;
}
#basicInfo {
  background-color: white; 
  opacity: 1;
  transition: 2s ease-out;
  z-index: 10;
}
#primaryInfo {
  z-index: 9;
}


