.logo {
 scale: 100%;
 opacity: 1;
 height: 70px;
}

.navbar{
  background: rgba(14, 12, 12, 0.8);
  top: 0;
  position: fixed;
  width: 100%;
  font-size: 12pt;
  font-weight: bold;
}

.nav{
  padding-top: 7px;
}



