.brewhousePage {
  top: 0;
}
.carboyBox{
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24pt;
  width: 75%
}
.carboyItem{
  position: relative;
  display: inline-flex;
  padding-left: 30px;
  padding-right: 30px;
}
h2{
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%
}